.icon-row {
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 25px; */
}

.icon-row__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  color: var(--sub-color);
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}
